
# Rename this file as .env
GOOGLE_GENAI_USE_VERTEXAI="False"

# Generate an  API key from aistudio.google.com
GOOGLE_API_KEY=

ROOT_AGENT_MODEL='gemini-live-2.5-flash-preview'
UI_ANALYZER_AGENT_MODEL='gemini-2.0-flash-live-001'
CASE_MATCHER_AGENT_MODEL='gemini-2.5-flash'

LOG_LEVEL=INFO

VERTEX_AI_SEARCH_DATASTORE="projects/ai-companion-pso-hack/locations/global/collections/default_collection/dataStores/kb-cases_1752576472512"

# create an account in agentops.ai
AGENTOPS_API_KEY=""