# Rename this file as .env
GOOGLE_CLOUD_PROJECT="PROJECT_ID"
GOOGLE_CLOUD_LOCATION="global" #e.g. us-central1
GOOGLE_GENAI_USE_VERTEXAI="true"

# ML Dev backend config
#GOOGLE_API_KEY=

ROOT_AGENT_MODEL='gemini-live-2.5-flash-preview-native-audio-09-2025' # USE the latest live api version

LOG_LEVEL=INFO

VERTEX_AI_SEARCH_DATASTORE="projects/PROJECT_ID/locations/global/collections/default_collection/dataStores/kb-bigquery_1758819317077_cases_datastore"